*{font-family:Arial;}

body{
	background-color: #282a36
}
.left p{
	color: #f8f8f2;
	margin-left: 0px;
	overflow:auto;
	display:block;
}
p
{
	color: #f8f8f2;
	overflow:auto;
	display:block
}
h1 {
	color: #8be9fd
}
.entry h2{
	color: #bd93f9
	
}
.date {
	color: #ffb86c;
}
.center{
	text-align: center;
}
a {
	color: #50fa7b
} 
a:hover {
	color: #37b256
}
.left img{
	float:left;
	margin-right: 10px;
	clear:both;
	border-radius:20%;
}
.left h2{
	text-align: left;
	color: #bd93f9;
	margin-left: 0px;
	float: letf;
	overflow:auto;
	display:block;
	
}
.code{
	color: #ffb86c;
}
.content{
	margin:auto;
	max-width: 1024px;
	min-width: 500px;

}
.right h2{
	color: #bd93f9;
	text-align: right;
	margin-right:0px;
	overflow:auto;
	display:block;
}
.right img
{
	float:right;
	margin-left: 10px;
	clear:both;
	border-radius:20%;
}
.right p{
        color: #f8f8f2;
        margin-right: 0px;
        overflow:auto;
        display:block;
}
.spacer
{
  	margin-top: 70px;
  	margin-bottom: 70px;
}

::selection {
    background-color: #ff79c6;
    color: #000;
}
